node_modules
dist
.git
.github
.github
*.log
npm-debug.log*
.DS_Store
.vscode
scratchpad

android/.gradle
android/build
android/app/build
android/app/src/main/assets/www
android/local.properties

release
*.apk
